@import url('https://fonts.cdnfonts.com/css/mastrih');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    overflow-x: hidden;
}



.banner{
    background: linear-gradient(to top left, #0D1117, #141e2e, #0d121a);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/blobanimation2.svg);
    position: relative;
    background-color: #0D1117;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.logo{
    color: white;
}

.name{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.heading h1{
    font-weight: 700;
}

.underline{
    width: 8rem;
    transform: translateY(-65%);
}

.company{
    background: linear-gradient(to right, rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline img{
    width: 100%;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(218, 209, 209);
}

.logo{
    margin-bottom: 3rem;
    color: white;
    font-family: 'Mastrih', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.custom-shape-divider-bottom-1687365031 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687365031 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1687365031 .shape-fill {
    fill: rgb(218, 209, 209);
}

.facts{
    position: relative;
}

.welcome{
 font-family: 'Clash Display', sans-serif;
 font-size: 2.5rem;
 font-weight: 600;
 background-image: url(./assets/blobanimation.svg);
 background-color: #0b011c;
 background-position: center;
 background-repeat: no-repeat;
 padding: 10vh;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 color: rgb(218, 209, 209);
 text-align: center;
 flex-direction: column;
}

.facts{
    position: relative;
    min-height: 650px;
    background-color: rgb(218, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.custom-shape-divider-bottom-1687679290 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687679290 svg {
    position: relative;
    display: block;
    width: calc(208% + 1.3px);
    height: 145px;
}

.custom-shape-divider-bottom-1687679290 .shape-fill {
    fill: #0B011C;
}

.item .image{
    width: 6.66vw;
}

.item .image ion-icon{
    font-size: 3rem;
}

.item .image img{
    width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 300px;
    height: 400px;
    text-align: center;
    z-index: 4;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.item .title{
    font-size: 1.7rem;
    font-weight: 700;
}

.flex-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    
}

.social-media{
    display: flex;
    gap: 20vw;
}

.ig{
    color: #e6155a;
    transition: 0.5s ease;
}

.in{
    color: #156fe6;
    transition: 0.5s ease;
}

.fb{
    color: #4267B2;
    transition: 0.5s ease;
}

.ig:hover, .fb:hover, .in:hover{
    transform: translateY(-10%);
}



.mystory{
    margin-bottom: 10vh;
}

.story{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(244, 24, 68);
    border: 1px solid rgb(244, 24, 68);
    padding: 5px;
}

#preloader{
    height: 100vh;
    width: 100%;
    background: black url(./assets/output-onlinegiftools.gif) no-repeat center center;
    position: fixed;
    z-index: 100;
}


.journey{
    position: relative;
    padding-top: 5rem;
}

.custom-shape-divider-top-1687978208 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1687978208 svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1687978208 .shape-fill {
    fill: #0b011c;
}



.umutwe a{
    font-family: 'mastrih';
    text-decoration: none;
    color: white;
 }

 .banner1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vw;
 }

 .banner1 .words{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(218, 209, 209);
 }




    
 body {
    margin: 0;
    padding: 0px 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #130557, #120747, #0f0830, #0f0830, #0f0830);
 }
 
 h1 {
    text-align: center;
    font-weight: 300;
    color: #cfbaba;
 }
 
 h1 span {
    font-weight: 600;
 }
 
 .container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }

 .words .arrow{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -1px -2px 26px -4px rgba(0, 0, 0, 0.7);
    background: transparent;
    animation: bop 2s infinite;
 }

 @keyframes bop{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(30%);
    }
 }

 .credits{
    text-align: center;
    color: #cfbaba;
 }

 .credits a{
    color: #3512e2;
 }

 .words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #cfd3da;
    z-index: 1
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: linear-gradient(to right, rgb(188, 12, 241), rgb(212, 4, 4));
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #efeaea;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #c6b4b4;
 }
 
 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #fbfafa;
 }
 
 
 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }


